body {
  background-color: rgb(247, 248, 171);
}
h1 {
  color: brown;
}
.pGrise {
  color: greenyellow;
}
.pRed {
  color: aqua;
}
.information {
  padding: 10px;
  margin-top: 10px;
  color: red;
  border: 2px solid goldenrod;
  background-color: green;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  background-color: rgb(15, 9, 51);
  overflow: hidden;
}

li {
  float: left;
}
li a {
  color: white;
  padding: 20px;
  text-decoration: none;
  display: block;
}
li a:hover{
    background-color: turquoise;
}
.gauche{
  float: left;
}
.clearB{
  clear: both;
}